# Pandas (For Hetrogeneous data type)

1d arrays as series

2d arraya as dataframe

3d arrays as Panel

## Pandas Series

In [1]:
import numpy as np
a = np.array([])
a

array([], dtype=float64)

In [2]:
import pandas as pd
b = pd.Series()
b

Series([], dtype: float64)

In [3]:
c = np.array(["H","E","L","L","O"])
d = pd.Series(c)
d

0    H
1    E
2    L
3    L
4    O
dtype: object

In [4]:
e = pd.Series(d, index=[0,1,2,4])
e

0    H
1    E
2    L
4    O
dtype: object

In [5]:
f = {"Key0":0,"Key1":1,"Key2":2,"Key3":3}
g = pd.Series(f)
g

Key0    0
Key1    1
Key2    2
Key3    3
dtype: int64

In [6]:
h = pd.Series(f, index=["Key0",1,2,"Key3"])
h

Key0    0.0
1       NaN
2       NaN
Key3    3.0
dtype: float64

In [7]:
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [10]:
i = pd.Series(1, index=[0, 1, 2, 3])
i

0    1
1    1
2    1
3    1
dtype: int64

In [11]:
j = pd.Series(["a","b","c","d"], index=[0, 1, 2, 3])
j

0    a
1    b
2    c
3    d
dtype: object

In [12]:
j[0]

'a'

In [13]:
j[:3]

0    a
1    b
2    c
dtype: object

In [14]:
j[1:3]

1    b
2    c
dtype: object

In [15]:
j[:]

0    a
1    b
2    c
3    d
dtype: object

In [16]:
j[3:]

3    d
dtype: object

In [17]:
j[-1:]

3    d
dtype: object

In [18]:
s = pd.Series({"India":"Hockey","Germany":"Football","England":"Cricket","USA": "Golf"})
s

India        Hockey
Germany    Football
England     Cricket
USA            Golf
dtype: object

In [19]:
s[3]

'Golf'

In [20]:
s["USA"]

'Golf'

In [21]:
s.loc["USA"]

'Golf'

In [22]:
s.iloc[3]

'Golf'

## Pandas DataFrame

__Data Structure:__
Rows gives index information and columns gives feature information.

In [23]:
k = pd.DataFrame()
print(k)

Empty DataFrame
Columns: []
Index: []

In [24]:
l = pd.DataFrame([111,222,333])
print(l)

     0
0  111
1  222
2  333

In [25]:
dt = [["Bob",80000],["Alice",85000],["Claire",82000]]
m = pd.DataFrame(dt, columns=["Name","Salary"])
print(m)

     Name  Salary
0     Bob   80000
1   Alice   85000
2  Claire   82000

In [26]:
dt = {"Name":["Bob","Alice","Claire"], "Salary":[80000,85000,82000] }
n = pd.DataFrame(dt)
print(n)

     Name  Salary
0     Bob   80000
1   Alice   85000
2  Claire   82000

In [27]:
dt = {"Name":["Bob","Alice","Claire"], "Salary":[80000,85000,82000] }
o = pd.DataFrame(dt, index=["no.1","no.2","no.3"])
print(o)

        Name  Salary
no.1     Bob   80000
no.2   Alice   85000
no.3  Claire   82000

In [28]:
dt = [{"Bob":80000,"Alice":85000,"Claire":82000},{"Bob":83000,"Alice":89000}]
p = pd.DataFrame(dt, index=["Q1","Q2"])
print(p)

      Bob  Alice   Claire
Q1  80000  85000  82000.0
Q2  83000  89000      NaN

In [29]:
dt = {"Name":["X","Y","Z","E"],"Attendence":["P","P","A","P"],"Marks":[75,86,90,84]}
q = pd.DataFrame(dt)
print(q)

  Name Attendence  Marks
0    X          P     75
1    Y          P     86
2    Z          A     90
3    E          P     84

In [30]:
print(q[1:3])

  Name Attendence  Marks
1    Y          P     86
2    Z          A     90

In [31]:
print(q[:-1])

  Name Attendence  Marks
0    X          P     75
1    Y          P     86
2    Z          A     90

In [32]:
print(q[-1:])

  Name Attendence  Marks
3    E          P     84

In [33]:
print(q.head(2))

  Name Attendence  Marks
0    X          P     75
1    Y          P     86

In [34]:
print(q.tail(2))

  Name Attendence  Marks
2    Z          A     90
3    E          P     84

In [35]:
df1= pd.DataFrame({ "Name":["Q","W","E","R"],"Subjects":[2,1,2,3],"Marks":[50,45,45,67]}, index=[2001, 2002,2003,2004])
print(df1)

     Name  Subjects  Marks
2001    Q         2     50
2002    W         1     45
2003    E         2     45
2004    R         3     67

In [36]:
df2=pd.DataFrame({ "Name":["Q","W","E","R"],"Subjects":[2,1,2,3],"Marks":[50,45,45,67]}, index=[2005, 2006,2007,2008])
print(df2)

     Name  Subjects  Marks
2005    Q         2     50
2006    W         1     45
2007    E         2     45
2008    R         3     67

In [37]:
print(pd.merge(df1,df2))

  Name  Subjects  Marks
0    Q         2     50
1    W         1     45
2    E         2     45
3    R         3     67

In [38]:
print(pd.merge(df1,df2,on="Name"))

  Name  Subjects_x  Marks_x  Subjects_y  Marks_y
0    Q           2       50           2       50
1    W           1       45           1       45
2    E           2       45           2       45
3    R           3       67           3       67

In [39]:
print(pd.concat([df1,df2]))

     Name  Subjects  Marks
2001    Q         2     50
2002    W         1     45
2003    E         2     45
2004    R         3     67
2005    Q         2     50
2006    W         1     45
2007    E         2     45
2008    R         3     67

In [40]:
r = pd.concat([df1,df2],axis=0)
print(r)

     Name  Subjects  Marks
2001    Q         2     50
2002    W         1     45
2003    E         2     45
2004    R         3     67
2005    Q         2     50
2006    W         1     45
2007    E         2     45
2008    R         3     67

In [41]:
s = pd.concat([df1,df2],axis=1)
print(s)

     Name  Subjects  Marks Name  Subjects  Marks
2001    Q       2.0   50.0  NaN       NaN    NaN
2002    W       1.0   45.0  NaN       NaN    NaN
2003    E       2.0   45.0  NaN       NaN    NaN
2004    R       3.0   67.0  NaN       NaN    NaN
2005  NaN       NaN    NaN    Q       2.0   50.0
2006  NaN       NaN    NaN    W       1.0   45.0
2007  NaN       NaN    NaN    E       2.0   45.0
2008  NaN       NaN    NaN    R       3.0   67.0

In [42]:
df1= pd.DataFrame({ "Name":["Q","W","E","R"],"Subjects":[2,1,2,3],"Marks":[50,45,45,67]})
print(df1)

  Name  Subjects  Marks
0    Q         2     50
1    W         1     45
2    E         2     45
3    R         3     67

In [43]:
df1.set_index("Name",inplace=True)
print(df1)

      Subjects  Marks
Name
Q            2     50
W            1     45
E            2     45
R            3     67

In [44]:
df1.set_index("Subjects",inplace=True)
print(df1)

          Marks
Subjects
2            50
1            45
2            45
3            67

In [45]:
print(df1.rename(columns={"Name":"Candidate"}))

          Marks
Subjects
2            50
1            45
2            45
3            67

In [46]:
df1.T

Subjects   2   1   2   3
Marks     50  45  45  67

In [47]:
total = np.sum(df1)
print(total)

Marks    207
dtype: int64

In [48]:
len(df1)

4

In [49]:
df1.loc[3]

Marks    67
Name: 3, dtype: int64